@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;800&display=swap');

body {
    font-family: 'Mukta', sans-serif;
    text-align: center;
    margin: auto;
    background-color: #881337;
}

.heading {
    color: #06b6d4;
    padding-top: 1rem;
}

label, input {
    display: block;
    margin: auto;
    color: #5eead4;
}

label {
    padding: 1rem;
    font-size: larger;
}

input {
    padding: 0.7rem;
    border-radius: 0.5rem;
    background-color: #5eead4;
    color: black;
    text-align: center;
    width: 17%;
}

button {
    margin: 1.5rem auto;
    padding: 0.7rem;
    background: transparent;
    border-color: #06b6d4;
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;
}

.output {
    font-size: x-large;
    color: #06b6d4;
}

.notice {
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 1rem;
    color: #06b6d4;
    font-size: large;
    display: inline;
    padding: 0.5rem;
    margin: 1rem auto;
}

img{
    width: 200px;
}

.footer {
    padding: 1rem 0rem;
    text-align: center;
    color: #fdba74;
    margin-top: 3rem;
}

.footer .link {
    color: #fdba74;
    text-decoration: none;

}

.footer .footer-header {
    font-weight: bold;
    font-size: larger;
}

.footer li {
    display: inline;
    padding: 1rem;
    text-align: center;
}